.input-password {
    padding: 5px;
    margin-bottom: 20px;
}

.btn-change-password {
    background-color: #252525;
    color: white;
    border: 1px solid #252525;
    padding: 10px 20px;
    display: block;
    margin-top: 20px;
}

.btn-change-password:hover {
    color: #252525;
    background-color: white;
}