.section-1-inner {
	width: 80vw;
	margin: 0 auto;
}

.checkout-item-container {
	width: 100%;
	overflow-y: auto;
}

.checkout-item {
	position: relative;
	font-family: helvetica;
	width: 100%;
}

.checkout-item-col {
	float: left;
}

.checkout-item-number, .checkout-item-name, .checkout-item-size, .checkout-item-qty, .checkout-item-subtotal {
	font-family: helvetica;
}

.checkout-item-number {
	font-weight: bold;
}

.checkout-item-image {
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.checkout-item-image-design {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.checkout-item-name {
	font-weight: bold;
}

.checkout-item-subtotal {
	position: absolute;
}

.total {
	text-align: right;
	border-top: 1px solid #999;
}

.total-item-label, .total-item-value {
	display: inline-block;
	font-family: helvetica;
	text-align: right;
}

.total-item-label-total, .total-item-value-total {
	font-weight: bold;
}

.recipient-title, .transfer-to {
	font-family: helvetica;
	font-weight: bold;
}

.custom-form-label, .custom-form-input, .custom-form-input option {
	font-family: helvetica;
}

.form-input-address {
	resize: none;
}

.form-input-phone {
    -moz-appearance: textfield;
}

.form-input-phone::-webkit-outer-spin-button,
.form-input-phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-account-number .custom-form-input, .form-account-name .custom-form-input {
    padding: 0;
}

.btn-submit-checkout {
	border: 1px solid rgb(37, 37, 37);
	background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .loader-container {
        width: 1px;
        height: 1px;
        bottom: 0;
        right: 0;
    }

	.section-1 {
		height: auto;
		padding-bottom: 20vw;
	}

	.section-1-left, .section-1-right {
		width: 80vw;
	}

	.section-1-right {
		margin-top: 20vw;
	}

	.checkout-item-container {
		height: 80vw;
	}

	.checkout-item {
		height: 18vw;
		margin-bottom: 5vw;
	}

	.checkout-item-col {
		margin-right: 2.5vw;
	}

	.checkout-item-number {
		font-size: 4vw;
		margin-top: 7vw;
	}

	.checkout-item-image {
		width: 18vw;
		height: 18vw;
	}

	.checkout-item-image-design {
		width: 10vw;
		height: 10vw;
		margin-left: -16.3vw;
		margin-top: 5vw;
	}

	.checkout-item-name {
		font-size: 3.5vw;
		margin-top: 1vw;
	}

	.checkout-item-size, .checkout-item-qty {
		margin-top: 2vw;
		font-size: 3vw;
	}

	.checkout-item-subtotal {
		bottom: 1vw;
		right: 3vw;
		font-size: 3.5vw;
	}

	.total {
		padding-top: 10vw;
		padding-right: 3.5vw;
	}

	.total-item-label, .total-item-value {
		font-size: 4vw;
		line-height: 6vw;
	}

	.total-item-label {
		width: 40vw;
	}
	
	.total-item-value {
		width: 20vw;
	}

	.recipient-title, .transfer-to {
		font-size: 5vw;
		margin-bottom: 5vw;
    }
    
    .transfer-to {
        margin-top: 10vw;
    }

	.custom-form-item-inline {
		display: block;
	}

	.custom-form-item-inline, .custom-form-item {
		margin-bottom: 5vw;
	}

	.custom-form-label {
		margin-bottom: 1vw;
	}

	.form-input-address {
		width: 100%;
		height: 20vw;
	}
	
	.form-item-shipping {
		margin-right: 5vw;
    }
    
    .form-account-number .custom-form-input, .form-account-name .custom-form-input {
        line-height: 5.5vw;
    }

	.btn-submit-checkout {
		padding: 3vw 0;
        width: 100%;
        font-size: 4vw;
		margin-top: 10vw;
	}

	.btn-submit-checkout:active {
		background-color: white;
		color: rgb(37, 37, 37);
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
    .loader-container {
        width: 1px;
        height: 1px;
        bottom: 0;
        right: 0;
    }

    .section-1 {
        height: 65vw;
    }

	.section-1-left, .section-1-right {
		width: 40vw;
		height: 400px;
		float: left;
		padding: 0 30px;
	}

	.checkout-item-container {
		height: 300px;
	}

	.checkout-item {
		height: 70px;
		margin-bottom: 10px;
	}

	.checkout-item-col {
		margin-right: 10px;
	}

	.checkout-item-number {
		font-size: 14pt;
		margin-top: 23px;
	}

	.checkout-item-image {
		width: 70px;
		height: 70px;
	}

	.checkout-item-image-design {
		width: 39px;
		height: 39px;
		margin-left: -64px;
		margin-top: 19px;
	}

	.checkout-item-name {
		font-size: 12pt;
		margin-top: 5px;
	}

	.checkout-item-size, .checkout-item-qty {
		margin-top: 4px;
		font-size: 10pt;
	}

	.checkout-item-subtotal {
		bottom: 5px;
		right: 15px;
		font-size: 12pt;
	}

	.total {
		padding-top: 30px;
		padding-right: 20px;
	}

	.total-item-label, .total-item-value {
		font-size: 12pt;
		line-height: 25px;
	}

	.total-item-label {
		width: 170px;
	}
	
	.total-item-value {
		width: 85px;
	}

	.recipient-title, .transfer-to {
		font-size: 16pt;
		margin-bottom: 20px;
    }
    
    .transfer-to {
        margin-top: 20px;
    }

	.custom-form-item-inline, .custom-form-item {
		margin-bottom: 15px;
	}

	.custom-form-label, .custom-form-input, .custom-form-input option {
		font-size: 10pt;
	}

	.custom-form-label {
		margin-bottom: 2px;
	}

	.form-label-service {
		min-width: 100px;
	}

	.form-input-address {
		width: 370px;
		height: 60px;
	}
	
	.form-item-shipping {
		margin-right: 30px;
    }

    .form-account-number .custom-form-input, .form-account-name .custom-form-input {
        line-height: 18px;
    }

	.btn-submit-checkout {
		width: 150px;
		padding: 10px 0;
		font-size: 12pt;
		margin-top: 20px;
	}

	.btn-submit-checkout:hover {
		background-color: white;
		color: rgb(37, 37, 37);
	}
}