.size-chart {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.size-chart.show {
    display: block;
}

.size-chart-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.size-chart-image {
    display: inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.section-1-inner {
    width: 80vw;
    margin: 0 auto;
}

.image-container {
    position: relative;
}

.shirt-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.design-image {
    position: absolute;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-form-label {
    font-family: helvetica;
}

.color {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 100%;
}

.select-type, .select-type option, .custom-select-size, .custom-select-size option, .custom-input-qty, .custom-input-notes {
    font-family: helvetica;
}

.btn-view-size-chart {
    display: inline-block;
    border: 1px solid rgb(37, 37, 37);
    cursor: pointer;
    font-family: helvetica;
}

.custom-input-qty {
    text-align: center;
}

.custom-input-notes {
    resize: none;
}

.custom-price {
    font-family: helvetica;
}

.custom-btn {
    border: 1px solid rgb(37, 37, 37);
    color: rgb(37, 37, 37);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

@media all and (max-width: 1024px) {
    .size-chart-image {
        display: block;
        width: 65vw;
        height: 65vw;
        margin: 0 auto;
    }

    .section-1 {
        height: 310vw;
    }

    .section-1-left, .section-1-right {
        width: 80vw;
    }

    .section-1-left {
        margin-top: 10vw;
    }

    .image-container {
        width: 80vw;
        height: 80vw;
    }

    .design-image {
        top: 17vw;
        left: 17.7vw;
        width: 45vw;
        height: 45vw;
    }

    .section-1-right {
        margin-top: 10vw;
    }

    .custom-form-item {
        margin-bottom: 5vw;
    }

    .custom-form-label {
        margin-bottom: 2vw;
        font-size: 5vw;
    }

    .color {
        width: 10vw;
        height: 10vw;
        margin-right: 1vw;
        margin-bottom: 2vw;
    }

    .color.selected {
        border: 4px solid #4CAF50;
        width: 10.3vw;
        height: 10.3vw;
    }

    .select-type, .select-type option, .custom-select-size, .custom-select-size option, .custom-input-qty, .custom-input-notes {
        font-size: 4vw;
        padding: 1.5vw;
    }

    .select-type {
        margin-left: 2vw;
    }

    .btn-view-size-chart {
        font-size: 3vw;
        padding: 2vw 4vw;
        margin-bottom: 5vw;
    }
    
    .custom-form-item-size {
        margin-right: 10vw;
    }

    .custom-input-qty {
        width: 15vw;
    }

    .custom-input-notes {
        width: 100%;
    }

    .custom-price {
        font-size: 6vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .custom-btn {
        width: 80vw;
        padding: 4vw 0;
        font-size: 4vw;
        margin-bottom: 5vw;
    }

    .custom-btn:active {
        background-color: rgb(37, 37, 37);
        color: white;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
    .size-chart-image {
        width: 350px;
        height: 350px;
    }

    .section-1 {
        height: 900px;
        padding-bottom: 50px;
    }

    .section-1-left, .section-1-right {
        width: 40vw;
        height: 400px;
        float: left;
        padding: 0 30px;
    }

    .image-container {
        float: right;
        width: 400px;
        height: 400px;
    }

    .design-image {
        top: 80px;
        left: 89px;
        width: 225px;
        height: 225px;
    }

    .custom-form-item {
        margin-bottom: 30px;
    }

    .custom-form-label {
        margin-bottom: 5px;
        font-size: 12pt;
    }

    .color {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .color.selected {
        border: 4px solid #4CAF50;
        width: 43px;
        height: 43px;
    }

    .select-type, .select-type option, .custom-select-size, .custom-select-size option, .custom-input-qty, .custom-input-notes {
        font-size: 10pt;
        padding: 5px;
    }

    .select-type {
        margin-left: 5px;
    }

    .btn-view-size-chart {
        font-size: 9pt;
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    
    .custom-form-item-size {
        margin-right: 30px;
    }

    .custom-input-qty {
        width: 70px;
    }

    .custom-input-notes {
        width: 300px;
    }

    .custom-price {
        font-size: 14pt;
    }

    .custom-btn-container {
        margin-top: 30px;
    }

    .custom-btn {
        width: 150px;
        padding: 10px 0;
        font-size: 12pt;
        margin-bottom: 10px;
    }

    .custom-btn:hover {
        background-color: rgb(37, 37, 37);
        color: white;
    }
}