.section-1 {
    height: 900px;
    padding-bottom: 50px;
}

.section-1-inner {
    width: 80vw;
    margin: 0 auto;
}

.section-1-left, .section-1-right {
    width: 40vw;
    height: 400px;
    float: left;
    padding: 0 30px;
}

.section-1-left {
    
}

.image-container {
    float: right;
    width: 400px;
    height: 400px;
    position: relative;
}

.shirt-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.design-image {
    position: absolute;
    top: 80px;
    left: 89px;
    width: 225px;
    height: 225px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-1-right {
    
}

.custom-form-item {
    margin-bottom: 40px;
}

.custom-form-label {
    margin-bottom: 10px;
    font-family: helvetica;
}

.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #000;
    border-radius: 100%;
}

.color.selected {
    border: 4px solid #4CAF50;
    width: 43px;
    height: 43px;
}

.select-type, .select-type option, .custom-select-size, .custom-select-size option, .custom-input-qty, .custom-input-notes {
    font-family: helvetica;
    font-size: 12pt;
    padding: 5px;
}

.select-type {
    margin-left: 5px;
}

.custom-form-item-size {
    margin-right: 30px;
}

.custom-input-qty {
    text-align: center;
    width: 70px;
}

.custom-input-notes {
    width: 300px;
    resize: none;
}

.custom-price {
    font-family: helvetica;
    font-size: 18pt;
}

.custom-btn-container {
    margin-top: 50px;
}

.custom-btn {
    width: 150px;
    padding: 10px 0;
    font-size: 12pt;
    border: 1px solid rgb(37, 37, 37);
    color: rgb(37, 37, 37);
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.custom-btn:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}