.modal-order-detail-table {
    display: block;
    overflow-y: auto;
}

.modal-order-detail-table {
    display: block;
}

.modal-order-detail-table thead {
    background-color: rgb(37, 37, 37);
    color: white;
    display: block;
}

.modal-order-detail-table td {
    padding: 5px;
}

.modal-order-detail-table tbody td {
    padding: 0;
}

.modal-order-detail-table tbody td, .modal-order-detail-table tbody td div {
    font-family: helvetica;
    font-weight: bold;
}

.modal-order-detail-footer {
    float: right;
    text-align: right;
}

.modal-order-detail-footer-label, .modal-order-detail-footer-value {
    display: inline-block;
    font-family: helvetica;
}

.order-detail-td-name-image, .order-detail-td-name-image-shirt {
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
  }
  
  .order-detail-td-name-image-design {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    cursor: pointer;
  }

.section-1-inner {
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

.left-border {
    float: left;
    width: 5px;
    background-color: rgb(37, 37, 37);
}

.order-item {
    overflow: auto;
}

.order-item-inner {
    float: right;
    border: 1px solid rgb(37, 37, 37);
}

.order-item-inner-left, .order-item-inner-right {
    height: 100%;
    position: relative;
}

.order-item-label, .order-item-value {
    font-family: helvetica;
}

.order-item-value {
    font-weight: bold;
}

.btn-confirm-payment {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(37, 37, 37);
    font-family: helvetica;
    font-weight: normal;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    color: white;
}

.btn-view-details {
    border: 1px solid rgb(37, 37, 37);
    font-family: helvetica;
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .custom-order-detail-loader-container {
        height: 69vw;
        margin-top: -69vw;
    }

    .modal-order-detail .modal-box {
        height: 133vw;
    }

    .modal-order-detail-table {
        width: 90vw;
        height: 69vw;
        margin-left: -5vw;
    }

    .modal-order-detail-table td[data-col="name"] {
        width: 15vw;
    }
 
    .modal-order-detail-table td[data-col="size"] {
        width: 15vw;
        text-align: center;
    }
    
    .modal-order-detail-table td[data-col="price"], .modal-order-detail-table td[data-col="subtotal"] {
        width: 20vw;
    }
    
    .modal-order-detail-table td[data-col="qty"] {
        width: 15vw;
        text-align: center;
    }

    .modal-order-detail-table td, .modal-order-detail-table tbody td div, .modal-order-detail-footer-label, .modal-order-detail-footer-value {
        font-size: 3.5vw;
    }

    .order-detail-td-name-text {
        display: none;
    }

    .modal-order-detail-footer-item {
        margin-bottom: 1.5vw;
    }

    .modal-order-detail-footer-label {
        width: 40vw;
    }
    
    .modal-order-detail-footer-value {
        width: 20vw;
    }

    .order-detail-td-name-image, .order-detail-td-name-image-shirt {
        width: 13vw;
        height: 13vw;
    }

    .order-detail-td-name-image-design {
        width: 7vw;
        height: 7vw;
        margin-left: -9.7vw;
        margin-top: 3vw;
    }

    .section-1 {
        height: auto;
    }

    .custom-section-1-loader-container {
        height: 50vw;
    }

    .left-border {
        display: none;
    }

    .order-item {
        margin-bottom: 20vw;
    }

    .order-item-inner {
        width: 100%;
        height: auto;
        padding: 3vw;
    }

    .order-item-inner-left, .order-item-inner-right {
        width: 100%;
        height: auto;
        display: inline-block;
    }

    .order-item-inner-left {
        margin-bottom: 5vw;
    }

    .order-item-row {
        margin-bottom: 5vw;
        position: relative;
    }

    .order-item-label, .order-item-value {
        font-size: 4vw;
    }

    .status-badge {
        position: absolute;
        top: -1vw;
        left: 15vw;
    }

    .btn-confirm-payment, .btn-view-details {
        padding: 3vw 0;
        width: 100%;
        font-size: 4vw;
        text-align: center;
    }

    .btn-confirm-payment {
        margin-top: 3vw;
    }

    .btn-confirm-payment:active {
        background-color: white;
        color: rgb(37, 37, 37);
    }

    .btn-view-details {
        margin-top: 10vw;
    }

    .btn-view-details:active {
        background-color: #DDD;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
    .section-1 {
        height: auto;
        min-height: 56vw;
    }

    .custom-order-detail-loader-container {
        height: 250px;
        margin-top: -250px;
    }
    
    .modal-order-detail .modal-box {
        width: 690px;
        height: 480px;
    }

    .modal-order-detail-table {
        height: 250px;
    }

    .modal-order-detail-table td[data-col="name"] {
        width: 250px;
    }
    
    .modal-order-detail-table thead td[data-col="name"] {
        padding-left: 10px;
    }
    
    .modal-order-detail-table td[data-col="size"] {
        width: 80px;
        text-align: center;
    }
    
    .modal-order-detail-table td[data-col="price"], .modal-order-detail-table td[data-col="subtotal"] {
        width: 120px;
    }
    
    .modal-order-detail-table td[data-col="qty"] {
        width: 80px;
        text-align: center;
    }

    .modal-order-detail-table tbody td, .modal-order-detail-table tbody td div, .modal-order-detail-footer-label, .modal-order-detail-footer-value {
        font-size: 12pt;
    }

    .modal-order-detail-footer-item {
        margin-bottom: 5px;
    }

    .modal-order-detail-footer-label {
        width: 150px;
    }
    
    .modal-order-detail-footer-value {
        width: 90px;
    }

    .order-detail-td-name-image, .order-detail-td-name-image-shirt {
        width: 50px;
        height: 50px;
    }

    .order-detail-td-name-image-design {
        width: 27px;
        height: 27px;
        margin-left: -38px;
        margin-top: 12px;
    }

    .order-detail-td-name-text {
        float: left;
        padding-top: 15px;
        padding-left: 10px;
        font-family: helvetica;
        font-weight: bold;
        width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .custom-section-1-loader-container {
        height: 300px;
    }

    .left-border {
        height: 180px;
    }

    .order-item {
        margin-bottom: 30px;
    }

    .order-item-inner {
        width: calc(100% - 20px);
        height: 180px;
        padding: 15px;
    }

    .order-item-inner-left, .order-item-inner-right {
        float: left;
    }

    .order-item-inner-left {
        width: 45%;
    }
    
    .order-item-inner-right {
        width: 55%;
    }

    .order-item-row {
        margin-bottom: 10px;
    }

    .order-item-label, .order-item-value {
        display: inline-block;
        font-size: 12pt;
    }

    .order-item-value {
        margin-left: 5px;
    }

    .btn-confirm-payment {
        padding: 5px 20px;
        margin-left: 10px;
        font-size: 9pt;
    }

    .btn-confirm-payment:hover {
        background-color: white;
        color: rgb(37, 37, 37);
    }

    .btn-view-details {
        position: absolute;
        bottom: 0;
        padding: 10px 15px;
        font-size: 10pt;
    }

    .btn-view-details:hover {
        background-color: #DDD;
    }
}