.section-1-inner {
    width: 80vw;
    margin: 0 auto;
}

.section-1-left, .section-1-right {
    width: 40vw;
    float: left;
    padding: 0 1.5vw;
}

.product-image-thumbnail-container {
    float: right;
    height: 28vw;
    padding-right: 0.5vw;
    overflow: auto;
}

.product-image-thumbnail {
    width: 5.3vw;
    height: 5.3vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-image {
    float: right;
    margin-left: 1.5vw;
    width: 28vw;
    height: 28vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-name {
    margin-top: 20px;
    font-size: 20pt;
    font-weight: bold;
    font-family: helvetica;
}

.product-price {
    margin-top: 10px;
    font-size: 16pt;
    font-family: helvetica;
}

.size-quantity-container {
    margin-top: 30px;
    overflow: auto;
}

.size-container, .quantity-container {
    float: left;
}

.quantity-container {
    margin-left: 50px;
}

.size-container .label, .quantity-container .label, .size-container select, .size-container option, .quantity-container input {
    font-family: helvetica;
}

.size-container .label, .quantity-container .label {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 5px;
}

.size-container select, .quantity-container input {
    font-size: 10pt;
    padding: 5px;
}

.quantity-container input {
    text-align: center;
    width: 60px;
}

.section-1-right-btn-container {
    clear: both;
    margin-top: 40px;
}

.section-1-right-btn {
    width: 150px;
    padding: 10px 0;
    font-size: 12pt;
    border: 1px solid rgb(37, 37, 37);
    color: rgb(37, 37, 37);
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.section-1-right-btn:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}