* {
  font-family: moon-regular;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.section {
  width: 100vw;
  overflow: hidden;
  color: #444;
}

@-webkit-keyframes show-up-anim {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes show-up-anim {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes show-down-anim {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes show-down-anim {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.content .section.show [data-anim="show-up"], .content .section.show [data-anim="show-down"] {
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 0.6s;
  -moz-animation-fill-mode: forwards;
  -ms-animation-duration: 0.6s;
  -ms-animation-fill-mode: forwards;
  -o-animation-duration: 0.6s;
  -o-animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.content .section.show [data-anim="show-up"] {
  -webkit-animation-name: show-up-anim;
  -moz-animation-name: show-up-anim;
  -ms-animation-name: show-up-anim;
  -o-animation-name: show-up-anim;
  animation-name: show-up-anim;
}

.content .section.show [data-anim="show-down"] {
  -webkit-animation-name: show-down-anim;
  -moz-animation-name: show-down-anim;
  -ms-animation-name: show-down-anim;
  -o-animation-name: show-down-anim;
  animation-name: show-down-anim;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  z-index: 1000;
}

.header-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 60px;
  text-decoration: none;
  width: 140px;
  height: 75px;
}

.logo-inner-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo-image-black {
  opacity: 0;
}

.header-menu-container {
  display: inline-block;
  margin-left: 50px;
  position: absolute;
  top: 30px;
  left: 200px;
}

.header-menu {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  margin-right: 30px;
}

.header-menu.dark {
  color: rgb(37, 37, 37);
}

@-webkit-keyframes header-menu-hover {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes header-menu-hover {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-menu:hover {
  -webkit-animation-name: header-menu-hover;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: header-menu-hover;
  -moz-animation-duration: 0.3s;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: header-menu-hover;
  -ms-animation-duration: 0.3s;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: header-menu-hover;
  -o-animation-duration: 0.3s;
  -o-animation-fill-mode: forwards;
  animation-name: header-menu-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.bags-container {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.bags-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bags-image {
  width: 55px;
  height: 55px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bags-image-black {
  opacity: 0;
}

.bags-ctr {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  background-color: white;
  color: rgb(37, 37, 37);
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 10pt;
  font-family: helvetica;
  font-weight: bold;
}

.bags-ctr.hidden {
  display: none;
}

.header-login-or-signup, .header-profile {
  position: absolute;
  top: 40px;
  right: 130px;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
}

.header-login-or-signup span, .header-login-or-signup a {
  display: inline;
  text-decoration: underline;
  font-family: helvetica;
  font-size: 10pt;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.header-login-or-signup.hidden {
  display: none;
}

.header-profile {
  top: 25px;
  cursor: pointer;
}

.header-profile-inner {
  width: 50px;
  height: 50px;
  position: relative;
}

.header-profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header-profile-image-black {
  opacity: 0;
}

.header-profile-menu {
  color: rgb(37, 37, 37);
  font-family: helvetica;
  font-size: 9pt;
  position: absolute;
  top: -15px;
  right: 60px;
  width: 120px;
  text-align: right;
  text-decoration: none;
}

.header-profile-menu-1 {
  font-size: 11pt;
}

.header-profile-menu-2 {
  top: 5px;
}

.header-profile-menu-3 {
  top: 20px;
}

.header-profile-menu-4 {
  top: 35px;
}

.header.invers {
  background-color: rgba(255, 255, 255, 0.95);
}

.header.invers .logo {  
  top: 18px;
  left: 47px;
  width: 112px;
  height: 60px;
}

.header.invers .logo-image-black, .header.invers .bags-image-black, .header.invers .header-profile-image-black {
  opacity: 1;
}

.header.invers .logo-image-white, .header.invers .bags-image-white, .header.invers .header-profile-image-white {
  opacity: 0;
}

.header.invers .header-menu, .header.invers .header-login-or-signup, .header.invers .header-login-or-signup span, .header.invers .header-login-or-signup a {
  color: rgb(37, 37, 37);
}

.header.invers .bags-ctr {
  color: white;
  background-color: rgb(37, 37, 37);
}

.loader-container {
  display: none;
  z-index: 5000;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loader-container.show {
  display: block;
}

.loader {
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 4px solid transparent;
  border-top-color: #3498db;
}

.loader:before {
  z-index: 100;
  animation: loader-spin 1s infinite;
}

.loader:after {
  border: 4px solid #DDD;
}

@-webkit-keyframes loader-spin{
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-spin{
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  text-align: center;
  display: none;
  opacity: 0;
}

.modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100vh;
}

.modal-box {
  width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px #444;
  z-index: 1002;
  padding: 20px;
  opacity: 0;
}

@-webkit-keyframes modal-show-anim {
  to {
    opacity: 1;
  }
}

@keyframes modal-show-anim {
  to {
    opacity: 1;
  }
}

.modal.show, .modal.hide, .modal.show .modal-box, .modal.hide .modal-box {
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-duration: 0.3s;
	-moz-animation-fill-mode: forwards;
	-ms-animation-duration: 0.3s;
	-ms-animation-fill-mode: forwards;
	-o-animation-duration: 0.3s;
	-o-animation-fill-mode: forwards;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.modal.show, .modal.hide {
  display: block;
}

.modal.show {
  -webkit-animation-name: modal-show-anim;
  -moz-animation-name: modal-show-anim;
  -ms-animation-name: modal-show-anim;
  -o-animation-name: modal-show-anim;
  animation-name: modal-show-anim;
}

.modal.shown {
  display: block;
  opacity: 1;
}

@-webkit-keyframes modal-hide-anim {
  to {
    opacity: 0;
  }
}

@keyframes modal-hide-anim {
  to {
    opacity: 0;
  }
}

.modal.hide {
  -webkit-animation-name: modal-hide-anim;
  -moz-animation-name: modal-hide-anim;
  -ms-animation-name: modal-hide-anim;
  -o-animation-name: modal-hide-anim;
  animation-name: modal-hide-anim;
}

@-webkit-keyframes modal-box-show-anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes modal-box-show-anim {
  from {
    opacity: 0;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.modal.show .modal-box {
  -webkit-animation-name: modal-box-show-anim;
  -moz-animation-name: modal-box-show-anim;
  -ms-animation-name: modal-box-show-anim;
  -o-animation-name: modal-box-show-anim;
  animation-name: modal-box-show-anim;
}

.modal.shown .modal-box {
  opacity: 1;
}

@-webkit-keyframes modal-box-hide-anim {
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@keyframes modal-box-hide-anim {
  to {
    opacity: 0;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.modal.hide .modal-box {
  -webkit-animation-name: modal-box-hide-anim;
  -moz-animation-name: modal-box-hide-anim;
  -ms-animation-name: modal-box-hide-anim;
  -o-animation-name: modal-box-hide-anim;
  animation-name: modal-box-hide-anim;
}

.modal-header {
  height: 50px;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  float: right;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-header-text {
  text-align: left;
  font-family: helvetica;
  font-weight: bold;
}

.modal-footer {
  margin-top: 50px;
}

.modal-login .modal-box {
  width: 340px;
  height: auto;
}

.modal-btn {
  width: 120px;
  padding: 10px 0;
  background-color: rgb(37, 37, 37);
  border: 1px solid rgb(37, 37, 37);
  color: white;
  font-size: 12pt;
  float: right;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-btn:not(.disabled):hover {
  background-color: white;
  color: rgb(37, 37, 37);
}

.modal-btn.disabled {
  background-color: #DDD;
  border: 1px solid #DDD;
  color: #555;
  cursor: default;
}

.form-item {
  text-align: left;
  margin-bottom: 20px;
}

.form-item-inline {
  display: inline-block;
  vertical-align: top;
}

.form-label {
  font-family: champagne;
  font-weight: bold;
  font-size: 14pt;
}

.error {
  color: red;
  font-size: 9pt;
  font-family: helvetica;
  padding-left: 10px;
}

.form-input {
  font-family: champagne;
  font-size: 14pt;
  padding: 5px;
}

.modal .form-input {
  width: 100%;
}

.modal-bags .modal-box {
  width: 770px;
  height: 430px;
}

.modal-bags .modal-bags-header div, .modal-bags .modal-bags-header span {
  font-family: helvetica;
  font-size: 14pt;
}

.modal-bags .modal-bags-header div {
  font-weight: bold;  
}

.modal-bags .modal-bags-header .modal-bags-header-normal {
  font-weight: normal;
}

.modal-bags-header-left {
  float: left;
}

.modal-bags-header-right {
  float: right;
  margin-right: 30px;
}

table {
  border-collapse: collapse;
}

table tbody tr:nth-child(odd) {
  background-color: #EEE;
}

.modal-bags-table {
  display: block;
}

.modal-bags-table thead {
  background-color: rgb(37, 37, 37);
  color: white;
  display: block;
}

.modal-bags-table {
  display: block;
  height: 250px;
  overflow-y: auto;
}

.modal-bags-table td {
  padding: 5px;
}

.modal-bags-table td[data-col="name"] {
  width: 250px;
}

.modal-bags-table thead td[data-col="name"] {
  padding-left: 10px;
}

.modal-bags-table td[data-col="size"] {
  width: 80px;
}

.modal-bags-table td[data-col="price"], .modal-bags-table td[data-col="subtotal"] {
  width: 120px;
}

.modal-bags-table td[data-col="qty"] {
  width: 80px;
}

.modal-bags-table td[data-col="qty"] input {
  width: 60px;
}

.modal-bags-table td[data-col="action"] {
  width: 80px;
}

.modal-bags-table tbody td {
  padding: 0;
}

.modal-bags-table tbody td, .modal-bags-table tbody td div {
  font-family: helvetica;
  font-weight: bold;
  font-size: 12pt;
}

.modal-bags-table input, .modal-bags-table select {
  font-family: helvetica;
  font-size: 10pt;
  padding: 5px;
}

.modal-size-qty .modal-box {
  width: 300px;
  height: 230px;
}

.modal-size-qty .form-item-inline:nth-child(1) {
  margin-right: 20px;
}

.modal-size-qty .form-label {
  margin-bottom: 5px;
}

.modal-size-qty .form-input-size, .modal-size-qty .form-input-qty {
  width: 60px;
  font-size: 10pt;
  text-align: center;
}

.bags-td-name-image {
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
}

.bags-td-name-text {
  float: left;
  padding-top: 15px;
  padding-left: 10px;
  font-family: helvetica;
  font-weight: bold;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modal-bags tbody td[data-col="qty"] input {
  text-align: center;
}

.modal-bags .bags-add-item, .modal-bags .bags-remove-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-bags .bags-add-item {
  margin-right: 10px;
}

.section-title {
	width: 80vw;
	margin: 120px auto 20px;
}

.section-title-line {
	width: 100%;
	height: 1px;
	background-color: #CCC;
}

.section-title-text {
	font-family: helvetica;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	margin: 10px 0;
}

.flash-message {
  background-color: #C8E6C9;
  color: #1B5E20;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  padding: 25px 20px;
  font-size: 11pt;
  font-family: helvetica;
}

.footer {
  width: 80vw;
  margin: 0 auto;
  border-top: 1px solid rgb(37, 37, 37);
  text-align: center;
}

.footer-follow-us {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18pt;
  letter-spacing: 2px;
}

.footer-social-media-container {
  margin: 20px 0 30px;
}

.footer-social-media-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.footer-social-media-text {
  display: inline-block;
  font-family: helvetica;
  margin-right: 50px;
}

.footer-social-media-text:nth-last-child(1) {
  margin-right: 0;
}

.footer-copyright {
  font-family: helvetica;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 50px;
}

@media all and (max-width: 1024px) {
  .div-mobile {
    display: block;
  }

  .section {
    height: 160vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
  .div-mobile {
    display: none;
  }

  .section {
    height: 56vw;
  }
}